/* .process{
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
} */

.process{
    padding: 50px 0px;
    z-index: 10000 !important;
    background-image: url('../images/Animated\ Gradient\ BG.png') !important;
    opacity: 1;
}

canvas{
    background-image: url('../images/Animated\ Gradient\ BG.png') !important;
}